*{
    font-family: 'Borel', cursive;
        font-family: 'Caveat', cursive;
        font-family: 'Lobster Two', cursive;
        font-family: 'Noticia Text', serif;
        font-family: 'Rubik Marker Hatch', cursive;
        font-family: 'Satisfy', cursive;
        font-family: 'Ubuntu', sans-serif;
        /* background-color:#eff3f7 */

}
        